.card, .placeHolder
{
	border-radius: 8px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
	padding-bottom: 154%;
	background-color: #FAFAFA;
	font-size: 24px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.card + .card
{
	margin-top: -125%;
}


.card
{
	background-color: #333;
}

.placeHolder
{
	border: 1px dashed #999;
	opacity: 0.5;
	box-shadow: none;
}

.cardInner
{
	position: absolute;
	top: 3%;
	right: 5%;
	left: 5%;
	bottom: 3%;
	border-radius: 5px;
}

.cardInner
{
	background: #15722b;
}

.cardInner::before
{
	top: 20%;
	left: 18%;
	bottom: 0;
	right: 0;
	content: "";
	position: absolute;
	background-color:#031f06;
}

.symbol {
	top: 2%;
	left: 0;
	right: 0;
	height: 15%;
	margin: auto;
	content: "";
	position: absolute;
}