

.app
{
    max-width: 500px;
    position: relative;
    height: 100vh;
    background-color: #fcffe8;
    margin: auto;
}

.header
{
    background:#15722b;
    margin: 0;
    padding: 0.5em;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 300;
    border-bottom: 6px solid #333;

}

.header h1
{
    font-weight: 300;
    max-width: 75%;
    margin: auto;
}

.piles
{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.piles > li
{
    width: 32%;
    padding-left: 5%;
    padding-right: 5%;
}

.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}