.card
{
	border-radius: 5px;
	border: 1px solid black;
	padding-bottom: 154%;
	background-color: #FAFAFA;
	font-size: 24px;
	text-align: center;
}

.card + .card
{
	margin-top: -135%;
}

.cardinner
{
}