.bmc-button img{
    width: 27px !important;
    margin-bottom: 1px !important;
     box-shadow: none !important;
     border: none !important;
     vertical-align: middle !important;
}
 .bmc-button{
    line-height: 36px !important;
    height:37px !important;
    text-decoration: none !important;
    display:inline-flex !important;
    color:#000000 !important;
    background-color:#FFFFFF !important;
    border-radius: 3px !important;
    border: 1px solid transparent !important;
    padding: 1px 9px !important;
    font-size: 22px !important;
    letter-spacing:0.6px !important;
    margin: 0 auto !important;
    font-family:'Cookie', cursive !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -o-transition: 0.3s all linear !important;
    -webkit-transition: 0.3s all linear !important;
    -moz-transition: 0.3s all linear !important;
    -ms-transition: 0.3s all linear !important;
    transition: 0.3s all linear !important;
}
 .bmc-button:hover, .bmc-button:active, .bmc-button:focus {
    text-decoration: none !important;
    opacity: 0.85 !important;
    color: #000000 !important;
}

.bmc-container
{
    margin: auto;
    text-align: center;
    padding: 5px 5px 15px;
}
